<div class="row mt-5">
  <div class="col">
    <input #term type="text" (keyup)='search(term.value)' class="form-control animated fadeIn" placeholder="search song...">
  </div>
</div>
<div class="card-columns mt-5 animated fadeIn">

    <div (click)='seeSong(song.id)' *ngFor="let song of songs, let i = index" class="card pointer">
        <img [src]="song.album.images | noimage " class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ song.name | truncate : "30"}}</h5>
        </div>
    </div>
</div>